#periodic-table{
    font-style: solid;
    color:black;
}
th{
    background-color:rgb(133, 146, 113);
    border-radius:13%;
    height:50px;
    width:65px;
}
.empty{
    background-color:white;
    font-size:0;
}
.turqoise{
    background-color:#559F9F;
}
.lightblue{
    background-color:#A6D9FB;
}
.yellow{
    background-color:#FFFF64;
}
.dark{
    background-color:#7B8CAF;
}
.lightbrown{
    background-color:#E5C9A5;
}
.dark-green{
    background-color:#599454;
}
.pink{
    background-color:#FFC8D0;
}
.orange{
    background-color:#FF9F7C;
}
.brown{
    background-color:#D8A95B;
}
.violet{
    background-color:#D3A2D2; 
}